<!-- Het begin van het project-->
<div class="container-fluid h-100 min-w-100 wow fadeInRight animated">

    <!-- Lightbox (ingezoomd) van de geklikte foto -->
    <div id="mdb-lightbox-ui"></div>

    <div class="row">

        <div class="col-md-3 "></div>



        <!--De omheining van de card, het witte veld eromheen: -->
        <div class="col-md-6 justify-content-center grey lighten-5 p-5 vh-100">

            <form action="/search" method="POST">

                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1" type="text" placeholder="Zoek een gebruiker..."
                        aria-label="Search" name="search">
                    <div class="input-group-append">
                        <button class="btn-primary input-group-text lighten-3" id="basic-text1">
                            <i class="fas fa-search text-grey" aria-hidden="true"></i></button>
                    </div>
                </div>

            </form>

            <hr>

            <!-- User-search content -->

            <% if(session_user.following.length == 0 || session_user.following == undefined) { %>


            <div class="row border border-dark">

                <div class="col d-flex col-md-4 mx-auto justify-content-center justify-content-md-start">
                    <span>Je volgt nog niemand</span>
                </div>
            </div>

            <% } else { %>

            <% for(let x = 0; x < session_user.following.length; x++) { %>

            <div class="row border border-dark my-1">

                <div class="col d-flex col-md-4 mx-auto justify-content-center justify-content-md-start">

                    <div class="file-field my-auto">
                        <div class="mb-4 d-flex justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                        </div>

                        <div class="light-blue darken-4 text-white-50 font-weight-normal d-flex justify-content-center">
                            <div class="px-2 float-left">
                                <span><%= session_user.following %></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col d-flex col-md-4 mx-auto justify-content-center justify-content-md-start">
                    <div class="text-break m-1 p-2 my-auto">
                        <p><%= session_user.following %></p>
                    </div>
                </div>

                <div class="col d-flex col-md-4 mx-auto justify-content-center justify-content-md-start">
                    <div class="my-auto">
                        <button class="btn btn-primary w-100"><i class="fas fa-magic mr-1"></i> Volgen</button>
                        <button onclick="location.href='/profile/show/<%= session_user.following %>'" class="btn btn-primary w-100"><i class="fas fa-magic mr-1"></i> Profiel Bekijken</button>
                    </div>
                </div>

            </div>

            <% } %>
            <% } %>

            <!-- /User-search content -->


        </div>

        <div class="col-md-3"></div>
    </div>
</div>