<!DOCTYPE html>
<html lang="en" class="">

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Jumaty - Prototype</title>
  <link rel="shortcut icon" href="img/logonotext.png" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../css/mdb.min.css" rel="stylesheet">

  <link href="../css/style.css" rel="stylesheet">

  <style>
    html,
    body,
    header,
    .jarallax {
      height: 100vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .jarallax {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .jarallax {
        height: 100vh;
      }
    }

    @media (min-width: 560px) and (max-width: 650px) {
      header .jarallax h5 {
        margin-bottom: 1.5rem !important;
      }
    }

    .top-nav-collapse {
      background-color: #6f7782 !important;
    }

    .navbar:not(.top-nav-collapse) {
      background: transparent !important;
    }

    @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
        background: #6f7782 !important;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #6f7782 !important;
      }
    }

    h1 {
      letter-spacing: 8px;
    }

    h5 {
      letter-spacing: 3px;
    }

    .hr-light {
      border-top: 3px solid #fff;
      width: 80px;
    }

    footer.page-footer {
      background-color: #6f7782;
    }

    @media (max-width: 450px) {
      .btn-floating {
        margin-left: 0;
        margin-right: 0;
      }
    }
  </style>

</head>

<body class="h-100">


  <!--Main Navigation-->
  <header>

    <!-- Intro Section -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
      <div class="mask rgba-black-light">
        <div class="container vh-100 d-flex justify-content-center align-items-center">
          <div class="row pt-5 mt-3">
            <div class="col-md-12">
              <div class="text-center">
                <div class="text-nowrap d-flex justify-content-center">
                  <img src="img/logonotext.png" alt="logo" width="100" class="wow fadeInLeft" data-wow-delay="1.5s">
                  <span class="display-4 font-weight-bold ml-3 mb-0 pt-3 align-bottom wow fadeInLeft" data-wow-delay="1s">Jumaty</span>
                </div>
                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <h5 class="text-uppercase mb-5 text-black-50 wow fadeInDownBig" data-wow-delay="0.5s">
                  <strong>Prototype</strong></h5>
                <a class="btn btn-outline-dark font-weight-bold wow fadeInLeftBig" data-wow-delay="0.8s" href="/login"
                  data-wow-delay="0.4s">Login</a>
                <a class="btn btn-outline-dark font-weight-bold wow fadeInUpBig" data-wow-delay="0.8s" href="/register"
                  data-wow-delay="0.4s">Register</a>
                <a class="btn btn-outline-dark font-weight-bold wow fadeInRightBig" data-wow-delay="0.8s"
                  href="/timeline" data-wow-delay="0.4s">Timeline</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </header>
  <!--Main Navigation-->



  <!--  SCRIPTS  -->
  <!-- JQuery -->
  <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../js/mdb.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>