  <!-- Content -->
  <div class="container">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left" style="background-color: royalblue;">

        <img src="<%= data.user.img_data %>" alt="" class="rounded-circle mr-3"
          alt="profile-image" height="110px" width="110px">
        <br>
        <p>
          <strong>Gebruikersnaam</strong>
        </p>

        <hr class="hr-light" ;>

        <p>
          <strong><%= data.user.voornaam + " " + data.user.achternaam %></strong>
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left" style="background-color: royalblue;">

        <!--Card-->
        <div class="card" style="background-color: royalblue;">

          <!--Card content-->
          <div class="card-body">

            <!-- Form -->
            <form name="">
              <!-- Heading -->
              <h3 class="dark-grey-text text-center">
                <strong>Biografie</strong>
              </h3>
              <hr class="hr-light" ;>

              <p><%= data.user.biografie %></p>

            </form>
            <!-- Form -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->


      <!-- User uploads -->

      <!--Grid column-->

      <!-- CREATE FOR-LOOP TO SHOW ALL USER IMAGES -->

      <% for(let x = 0; x < data.user.uploads.length; x++) { %>

        <%= data.user.uploads[x] %>

      <% } %>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="http://placehold.it/400x450" height="220" /></div>
      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Content -->
