  <!-- Content -->
  <div class="container">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left" style="background-color: royalblue;">

        <img src="<%= session_user.img_data %>" alt="" class="rounded-circle mr-3" alt="profile-image" height="110px"
          width="110px">
        <br>
        <p>
          <strong>Gebruikersnaam</strong>
        </p>

        <hr class="hr-light" ;>

        <p>
          <strong><%= session_user.voornaam + " " + session_user.achternaam %></strong>
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 white-text text-center text-md-left" style="background-color: royalblue;">

        <!--Card-->
        <div class="card" style="background-color: royalblue;">

          <!--Card content-->
          <div class="card-body">

            <!-- Form -->
            <form name="">
              <!-- Heading -->
              <h3 class="dark-grey-text text-center">
                <strong>Biografie</strong>
              </h3>
              <hr class="hr-light" ;>

              <p><%= session_user.biografie %></p>

            </form>
            <!-- Form -->

          </div>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->


      <!-- User uploads -->

      <!--Grid column-->


      <% if(session_user.uploads.length == 0 || session_user.uploads == undefined) { %>

      <div class="row border border-dark">

        <div class="col d-flex col-md-4 mx-auto justify-content-center justify-content-md-start">
          <span>Je hebt nog geen foto's geupload</span>
        </div>
      </div>

      <% } else { %>

      <% for(let x = 0; x < session_user.uploads.length; x++) { %>

      <div class="card-body" style="background-color: greenyellow;">
        <div class="col-sm-4"><img src="<%= session_user.uploads[x].img %>" height="220" /></div>
      </div>

      <% } %>
      <% } %>

    </div>
    <!--Grid row-->

  </div>
  <!-- Content -->