<!-- Het begin van het project-->
<div class="container-fluid h-100 min-w-100">

    <div class="row">

        <div class="col-md-3 "></div>

        <!-- Lightbox (ingezoomd) van de geklikte foto -->
        <div id="mdb-lightbox-ui"></div>
        
        <!--De omheining van de card, het witte veld eromheen: -->
        <div class="col-md-6 d-flex justify-content-center grey lighten-5 p-5 h-100 wow fadeInRight animated">


            <div class="card promoting-card m-2">

                <!-- De bovenkant van de card: (user info) -->
                <div class="card-body">

                    <hr class="color black">

                    <!-- Avatar -->
                    <div class="container-fluid p-0">

                        <div class="row">

                            <div class="text-nowrap d-flex justify-content-center">

                                <div class="col-md-3">
                                    <img src="https://www.pngfind.com/pngs/m/110-1102775_download-empty-profile-hd-png-download.png"
                                        class="img-fluid rounded-circle">
                                </div>

                                <div class="col-md-9 d-flex">
                                    <span class="my-auto h4 font-weight-bold pt-3">Username</span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- /card-body -->
                </div>


                <!-- Card image -->

                <div class="d-flex justify-content-center">
                    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg"
                        alt="Card image cap"> -->

                    <div class="mdb-lightbox no-margin">
                        <figure>
                            <a href="https://i.pinimg.com/originals/bc/c0/86/bcc0860537b4030e6e62fa0a38ef907b.jpg" data-size="1920x1080">
                                <img class="d-flex timeline-img" src="https://i.pinimg.com/originals/bc/c0/86/bcc0860537b4030e6e62fa0a38ef907b.jpg"
                                    alt="Card image cap">
                                    
                            </a>
                        </figure>
                    </div>

                    <!-- Overlay effect -->
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade">
                    <!--Text content-->
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium
                        doloremque laudantium, totam rem aperiam. </p>
                </div>
                <!--/.Text content-->


            </div>

        </div>

        <div class="col-md-3"></div>

    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <script>
        new WOW().init();

        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>