<!-- Het begin van het project-->
<div class="container-fluid h-100 min-w-100">
    <div class="row">
        <div class="col-md-3 "></div>

        <!--De omheining van de card, het witte veld eromheen: -->
        <div class="col-md-6 grey lighten-5 p-5">
            <div class="card promoting-card m-5">

                <!-- De bovenkant van de card: (user info) -->
                <div class="card-body">

                    <hr class="color black">

                    <!-- Avatar -->
                    <!-- Hier bij de <a href="#"> kan je eventueel een link maken naar het account van de uploader -->
                    <div>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(21).jpg" alt=""
                            class="rounded-circle mr-3" alt="profile-image" height="75px" width="75px">
                        <strong><a href="#">'name'</a></strong>
                    </div>

                    <!-- /card-body -->
                </div>


                <div class="mask rgba-white-slight">

                    <!-- Card image -->

                    <div class="view overlay">
                        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--/Card image-->

                    <!--Card content-->
                    <div class="card-body card-body-cascade">
                        <!--Text content-->
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                            accusantium
                            doloremque laudantium, totam rem aperiam. </p>
                    </div>
                    <!--/.Text content-->

                </div>

                <div class="col-md-3"></div>

            </div>
        </div>
    </div>

    <script>
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
    </script>
    <!-- Deze function hoort bij de lightbox-ui en zorgt  ervoor dat het daadwerkenlijk werkt-->