<!-- Het begin van het project-->
<div class="container-fluid h-100 min-w-100 wow fadeInRight animated">

    <% if(session_user.following.length == 0 || session_user.following == undefined) { %>
    <span>Je hebt nog geen volgers voor je tijdlijn</span>
    <% } else { %>


    <% for(let x = 0; x < session_user.following.length; x++) { %>
    <% //for(let y = 0; y < session_user.following[x].uploads.length; y++) { %>

        <% //console.log(session_user.following[x]) %>

    <!-- show all following users.upload; order by date -->


    <!-- Lightbox (ingezoomd) van de geklikte foto -->
    <div id="mdb-lightbox-ui"></div>

    <div class="row">

        <div class="col-md-3 "></div>



        <!--De omheining van de card, het witte veld eromheen: -->
        <div class="col-md-6 d-flex justify-content-center grey lighten-5 p-5 vh-100">


            <div class="card promoting-card m-2">

                <!-- De bovenkant van de card: (user info) -->
                <div class="card-body" style="flex: none !important;">

                    <hr class="color black">

                    <!-- Avatar -->
                    <div class="container-fluid p-0">

                        <div class="row">


                                <div class="col-md-4 d-flex">
                                    <div style="background-image: url('<%= session_user.following[x].src %>');"
                                        class="avatar-pic mx-auto"></div>
                                </div>

                                <div class="col-md-8 d-flex">
                                    <span
                                        class="my-auto h4 font-weight-bold pt-3"><%= session_user.following[x].full_name %></span>
                                </div>
                                

                        </div>

                    </div>

                    <!-- /card-body -->
                </div>


                <!-- Card image -->

                <div class="d-flex justify-content-center">
                    <!-- <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg"
                        alt="Card image cap"> -->

                    <div class="mdb-lightbox no-margin">
                        <figure>
                            <a href="https://i.pinimg.com/originals/bc/c0/86/bcc0860537b4030e6e62fa0a38ef907b.jpg"
                                data-size="1920x1080">
                                <img class="d-flex timeline-img"
                                    src="https://i.pinimg.com/originals/bc/c0/86/bcc0860537b4030e6e62fa0a38ef907b.jpg"
                                    alt="Card image cap">

                            </a>
                        </figure>
                    </div>

                    <!-- Overlay effect -->
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--/Card image-->

                <!--Card content-->
                <div class="card-body card-body-cascade">
                    <!--Text content-->
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem
                        accusantium
                        doloremque laudantium, totam rem aperiam. </p>
                </div>
                <!--/.Text content-->


            </div>

        </div>

        <div class="col-md-3"></div>

    </div>
    
    <% } %>
    <% } %>
    <%  %>
    
</div>
<!-- DUMMY DATA SPAM -->
<!-- DUMMY DATA SPAM -->
<!-- DUMMY DATA SPAM -->



<!-- DUMMY DATA SPAM -->
<!-- DUMMY DATA SPAM -->
<!-- DUMMY DATA SPAM -->
<!-- DUMMY DATA SPAM -->