<div class="container h-100 d-flex justify-content-center align-items-center">

    <!--Grid row-->
    <div class="row w-100 pt-5 mt-3 mb-5">

        <!--Grid column-->
        <div class="col-md-12">

            <div class="file-upload-wrapper">
                <input type="file" id="input-file-now" name="user_upload" class="file-upload" />
            </div>

        </div>
    </div>
</div>