<div class="container h-100 d-flex justify-content-center align-items-center">

    <!--Grid row-->
    <div class="row w-100 pt-5 mt-3 mb-5">

        <!--Grid column-->
        <div class="col-md-12">

            <form action="/upload" method="POST" enctype="multipart/form-data">

                <div class="file-upload-wrapper">
                    <input type="file" name="user_upload" accept="image/*">
                </div>

                <textarea id="biografie_textarea" onkeypress="characterCount(this)" maxlength="250"
                    class="md-textarea form-control" rows="3" name="beschrijving"
                    placeholder="Voeg hier een beschrijving toe"></textarea>
                <p id="character_count" class="text-right font-weight-light"></p>
                <div class="text-center">
                    <button class="btn btn-indigo btn-rounded" type="submit">Foto uploaden</button>
                </div>

            </form>

        </div>

    </div>
</div>
</div>