.side-nav.wide .collapsible-body a {
    padding-left: 23px !important;
}

.side-nav.wide {
    width: 8.5rem;
}

.side-nav.fixed {
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
    -moz-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
    -o-transform: translateX(0) !important;
}

.hidden {
    display: none !important;
}

.sn-icon-size {
    font-size: 1rem !important;
}

.sn-icon-size-child {
    font-size: 0.8rem !important;
}

.sidenav-item {
    background-color: #f5f5f540;
    color: #333335 !important;
    font-weight: 500 !important;
}

.sidenav-item.sn-dropdown{
    background-color: rgba(51, 51, 53, 0.65) !important;
    color: hsla(0, 0%, 96%, 0.87) !important;
    font-weight: 600 !important;
}

.sidenav-item.sn-dropdown.active{
    background-color: rgba(245, 245, 245, 0.87) !important;
    color: #333335 !important;
    font-weight: 600 !important;
}

.sidenav-item.sn-collapse{
    font-weight: 400 !important;
}

.sidenav-item.sn-bottom{
    font-weight: 400 !important;
    color: hsla(0, 0%, 100%, 0.75) !important
}

.sidenav-list {
    padding-bottom: 0rem !important;
}